nav {
    background-color: red;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

a {
    color: white;
    padding: 1em;
}

.main {
    padding-top:1em;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.video-page {
    text-align: center
}  

.video {
    padding: 1em;
}

.search-button {
    height: 2em;
    width: 6em; 
    font-size: 15px;
    color: white;
    background-color:red;
    border-radius: 5px;
}
.search-button:hover {
    background-color:rgb(255, 78, 78);
}

.search-input{
    height: 2em;
    font-size: 15px;
    width: 700px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
}

.no-search {
    background-color: rgb(209, 209, 209);
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
    text-align: center;
}

.results {
    margin-top: 1em;
    text-align: center;
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
}  

.comments-section {
    display:flex;
    align-items: center;
    text-align: left;
    border-top: 2px solid rgb(223, 223, 223);
    margin: auto;
    margin-top: 1em;
    width: 70%;
    padding: 10px;
} 
i {
    color: rgb(54, 54, 54);
}

.comments {
    border-top: 2px solid rgb(223, 223, 223);
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    margin: auto;
    margin-top: 1em;
    width: 47%;
    padding: 10px;
}
.comment-form {
    margin: auto;
}

.comment-form-input {
    height: 3em;
    font-size: 15px;
    width: 800px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 3px;
    padding-left: 1em;
}

.comment-submit {
    margin-top: 1em;
    height: 2em;
    width: 6em; 
    font-size: 15px;
    color: white;
    background-color:rgb(49, 110, 201);
    border-radius: 3px;
}

.comment-submit:hover {
    background-color:rgb(84, 142, 230);
}